<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa40qrxpLO_KeGLZh8UQr0PJ84dKOxypg</string>
	<key>GCM_SENDER_ID</key>
	<string>1024849752622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yujin.hansung.ac.kr.TalkApp</string>
	<key>PROJECT_ID</key>
	<string>iosprogramming-c9ae7</string>
	<key>STORAGE_BUCKET</key>
	<string>iosprogramming-c9ae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024849752622:ios:77adc6d16c2b4c2226a5bf</string>
</dict>
</plist>